Hi {{receiver_name}}, <sec>

My name is Connor and I'm on the operations team here at Traansmission. I noticed you registered a couple weeks ago and wanted to welcome you to the community!<sec>

Now that you’re three weeks into your trial, I wanted touch base. Hope everything is going well, but if you have any questions about our service, I'd love to hop on a call and help out!<sec>

Reach me at 412- 447-5623 with any questions or concerns.<sec>

I look forward to working with you.<sec>

All the best,<sec>

Connor Dowling, Operations