Hi {{receiver_name}}, <sec>

Now that you've had a chance to try out Traansmission, here are some helpful tips for location notifications: <sec>

<h3>With transmission’s website and mobile app you can:</h3>
<ol>
  <li><b>Add multiple contacts:</b> Invite operations managers, dispatchers, shippers/receivers, et cetera to see location notifications of your assigned carrier.</li>
  <li><b>Receive notifications:</b> Get updated locations every 15 minutes.</li>
  <li><b>Stay updated on load completion:</b> Receive notifications via email and Traansmission's mobile app on load pickup and drop off.</li>
</ol>