{{receiver_name}},

<h3>Thanks for choosing Traansmission!</h3><sec>

Here are 3 reasons you'll be glad you did<sec>

<ol>
  <li>
    <b>Covering a load is quick and easy. Here’s how:</b>
    <ul>
      <li>Login to your <a href="http://portal.traansmission.com/">Traansmission portal</a></li>
      <li>On the freight page, click on "Create"</li>
      <li>Add "Pickup and Drop-off" details</li>
      <li>Assign a driver/customer</li>
    </ul>
  </li>
  <br>
  <li><b>Keep your customers informed: </b>Invite your shippers, receivers and brokers to get real-time shipment updates</li>
  <br>
  <li><b>Easily track your loads with our app-based GPS software: </b>Smart-phone app tracks driver location in real-time</li><sec>
  
  If you have any other questions about our service, email me back directly or call (412) 447-5623 and our team will be happy to help you out.<sec>

  <h3>We look forward to working with you</h3><sec>

  All the best,<sec>
  Jason Cahill<br>Founder


</ol>