Hi {{receiver_name}}, <sec>

Your one-month free trial with Traansmission will end in 3 days. We hope you were able to <b>save time</b> and <b>increase efficiency</b> through the use of our software.<br>
Continue to improve your business and free up your time by upgrading to a paid subscription.<sec>

<div style="text-align:center"><a href="http://portal.traansmission.com/"><button style="background-color:#008CBA;border:none;color:white;padding:15px 32px;text-align:center;text-decoration:none;display:inline-block;font-size:16px;margin: 4px 2px;">Subscribe now!</button></a></div><sec>

Thank you for using our service!<sec>

All the best,<sec>

Connor Dowling, Operations