Hi {{receiver_name}}, <sec>

<b>Your Traanmission trial period has ended.</b><sec>

We hope you enjoyed your 1-month free trial. If you would like to continue using your Traansmission account please upgrade to a paid membership. If you have any concerns feel free to contact us. Thank you!<sec>

<div style="text-align:center"><a href="http://portal.traansmission.com/"><button style="background-color:#008CBA;border:none;color:white;padding:15px 32px;text-align:center;text-decoration:none;display:inline-block;font-size:16px;margin: 4px 2px;">Subscribe now!</button></a></div><sec>