{% load staticfiles %}
<!doctype HTML>
<html>
<head>
  <meta charset="utf-8">
    <title>Impaqd</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'shipments/js/angular.js' %}"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'shipments/js/app.js' %}"></script>
</head>
<body ng-app="shipperDashboard">
    <h1>Impaqd</h1>
    <a href="/accounts/logout">Logout</a>
    <a href="/accounts/">Account</a>

    <div class="new-shipment">
        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend>Create New Shipment</legend>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="textinput">Name</label>
                  <div class="col-md-4">
                  <input id="textinput" name="textinput" type="text" placeholder="Shipper Name" class="form-control input-md" required>
                  <span class="help-block">help</span>
                  </div>
                </div>

                <!-- Address Input -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="textinput">Address</label>
                  <div class="col-md-4">
                      <input id="textinput" name="textinput" type="text" placeholder="Address,City,State,Zip" class="form-control input-md" required>
                      <span class="help-block">help</span>
                  </div>
                </div>

                <!-- Pick Up Time Range Input -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="textinput">Pick Up Time</label>
                  <div class="col-md-4">
                      <p><strong>From:</strong></p>
                      <input id="textinput" name="pick_up_start" type="datetime-local" placeholder="Pick-Up Time or Time Range" class="form-control input-md">
                      <p><strong>To:</strong> </p>
                      <input id="textinput" name="pick_up_end" type="datetime-local" placeholder="Pick-Up Time or Time Range" class="form-control input-md">

                      <span class="help-block">If you don't want to select a time range, only fill out 'From'</span>
                  </div>
                </div>

                <!-- Phone Number Input -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="textinput">Phone Number</label>
                  <div class="col-md-4">
                  <input id="textinput" name="textinput" type="tel" placeholder="Phone Number" class="form-control input-md">
                  <span class="help-block">help</span>
                  </div>
                </div>

                <!-- Email Input -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="textinput">Email</label>
                  <div class="col-md-4">
                  <input id="email-input" name="textinput" type="email" placeholder="Email" class="form-control input-md">
                  <span class="help-block">help</span>
                  </div>
                </div>

                <!-- Select Vehicle Type -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="vehicle_type">Vehicle Type</label>
                  <div class="col-md-4">
                    <select id="vehicle_type" name="vehicle_type" class="form-control">
                      <option value="" selected>Select Vehicle</option>
                      <option value="1">Flatbed</option>
                      <option value="2">Reefer</option>
                      <option value="3">Van</option>
                    </select>
                  </div>
                </div>

                <!-- Shipment ID Input -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="textinput">Shipment ID</label>
                  <div class="col-md-4">
                  <input id="textinput" name="textinput" type="text" placeholder="Shipment ID" class="form-control input-md">
                  <span class="help-block">This field is for your own personal use and reference</span>
                  </div>
                </div>

                <!-- Payout Input -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="payout">Payout</label>
                  <div class="col-md-4">
                    <div class="input-group">
                      <span class="input-group-addon">$</span>
                      <input id="payout-input" name="payout" class="form-control" placeholder="Amount" type="text">
                      <span class="input-group-addon">.00</span>
                    </div>
                    <p class="help-block">help</p>
                  </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="singlebutton"></label>
                  <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                  </div>
                </div>

            </fieldset>
        </form>

    </div>


</body>
</html>
